*{
    margin: 0px;
    padding: 0px;
}
/* body{
    /* background-color: rgb(30, 164, 73); */
    /* background:url(tic-tac-toe-7737546_1280.jpg) ; */
/* text-align: center; */
/* z-index: -1; */
/* opacity:  0.3; */

/* } */
/* h1::before{ */
    /* background:url(tic-tac-toe-7737546_1280.jpg) ; */
    /* z-index: -1; */
    /* opacity: 0.3; */
/* } */ 
body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    /* position: relative; */
    /* display: inline-block; */
    padding: 10px 20px;
    color: white;
    z-index: 1;
    text-align: center;
    justify-content: center;
}

h1::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(tic-tac-toe-7737546_1280.jpg) no-repeat center center/cover;
    z-index: -1;
    border-radius: 8px;
    opacity: 0.5;
}

.box{
height: 15vmin;
width: 15vmin;
border-radius: 12px;
text-shadow:4px ;
font-size:70px;
color: white;
background-color: black;
/* border: 2px solid rgb(138, 47, 47); */
box-shadow: 0,0,2rem blue (0,0,0,0.9);
border: none;
}
.container{
height: 50vh;
/* border: 2px solid red; */
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.0vmin ,1.2vmin;

}
.game{
height: 50vmin;
width: 50vmin;
/* border: 2px solid red; */
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
h1{
    color: rgb(41, 62, 193);
    font-family: bolder;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 12px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* display:flex ; */
    cursor: pointer;
    margin-top: 30px;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 12px;
    /* align-items: center; */
    cursor: pointer;
    /* justify-content: center; */
    /* text-align: center; */
}
#msg{
    height: 20vmin;
    color: rgb(21, 52, 120);
    font-size: 8vmin;
    font-weight: bold;
}
.hide{
    display: none;
}
.msg-container{
    height: 30vmin;
}